@tailwind base;
@tailwind components;
@tailwind utilities;

.closed-day {
  background-color: #550000;
  color: rgb(107,114,128);
  background-color: #f0f0f0 !important;
}

.closed-day:hover {
  background-color: #fff !important;
  background-color: rgb(238,242,255) !important;
}

.closed-day:enabled:focus {
  background-color: #fff !important;
  background-color: rgb(238,242,255) !important;
}